.icon-1x {
    font-size: 24px !important;
}

a {
    text-decoration: none;
}

.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB !important;
}

.text-black, .text-hover-black:hover {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.avatar_question img {
    width: 50px;
    height: 50px;
}

.avatar_question_answer img {
    width: 100px;
    height: 100px;
}

.avatar_comment img {
    width: 70px;
    height: 70px;
}