{% load static %}
<div class="row justify-content-center">
    <div class="mb-3">
        <div class="card pos-relative py-3 px-3 mb-3 border-top-1 border-right-1 border-bottom-1 rounded-3 border-dark">
            <div class="row align-items-center">
                <div class="col-1 avatar_question">
                    <div class="mb-4">
                        <img src="{{ question.author.avatar.url }}">
                    </div>
                </div>
                <div class="col-11 mb-3 mb-sm-0">
                    <h5>
                        <a href="{% url 'question' question.id %}" class="text-primary">{{ question.title }}</a>
                    </h5>
                    <p class="text-sm">
                        {% if short == True %}
                            {{ question.content | truncatewords:50 }}
                        {% else %}
                            {{ question.content }}
                        {% endif %}
                    </p>
                    <div class="row text-center">
                        <div class="col-2 text-end">
                            <span class="mx-1"><a href="#"><i class="fa fa-thumbs-o-up text-success"></i></a></span>
                            <b>{{ question.rating }}</b>
                            <span class="mx-1"><a href="#"><i class="fa fa-thumbs-o-down text-danger"></i></a></span>
                        </div>
                        <div class="col-4 text-sm op-5 text-end">
                            <a href="{% url 'question' question.id %}"><b>Answers({{ question.answers_count }})</b></a>
                        </div>
                        <div class="col-6 text-sm op-5">
                            <b>Tags:</b>
                            {% for tag in question.all_tags %}
                                <a href="{% url 'tag' tag %}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
