{% load static %}

<div class="row">
    <div>
        <div class="m-5">
            <h4 class="fst-italic">Popular tags</h4>
            <div>
                {% for tag in tags %}
                    <a href="{% url 'tag' tag %}"><span
                            class="badge rounded-pill {% cycle 'bg-primary' 'bg-secondary' 'bg-success' 'bg-danger' 'bg-warning text-dark' 'bg-info text-dark' %}">{{ tag }}</span></a>
                {% endfor %}
            </div>
        </div>
        <div class="m-5">
            <h4 class="fst-italic">Best Members</h4>
            <ol class="list-unstyled">
                {% for member in members %}
                    <li><a href="#">{{ member.nickname }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
