{% load static %}

<div class="row">
    <div>
        <div class="m-5">
            <h4 class="fst-italic">Popular tags</h4>
            <div>
                <a href="{% url 'tag' %}"><span class="badge rounded-pill bg-primary">C/C++</span></a>
                <a href="#"><span class="badge rounded-pill bg-secondary">Django</span></a>
                <a href="#"><span class="badge rounded-pill bg-success">Python</span></a>
                <a href="#"><span class="badge rounded-pill bg-danger">HTML</span></a>
                <a href="#"><span class="badge rounded-pill bg-warning text-dark">CSS</span></a>
                <a href="#"><span class="badge rounded-pill bg-info text-dark">JavaScript</span></a>
                <a href="#"><span class="badge rounded-pill bg-light text-dark">React</span></a>
                <a href="#"><span class="badge rounded-pill bg-dark">Vue.js</span></a>
            </div>
        </div>
        <div class="m-5">
            <h4 class="fst-italic">Best Members</h4>
            <ol class="list-unstyled">
                <li><a href="#">lonkidely</a></li>
                <li><a href="#">not_lonkidely</a></li>
                <li><a href="#">we_are_lonkidely</a></li>
                <li><a href="#">he_is_lonkidely</a></li>
                <li><a href="#">you_are_not_lonkidely</a></li>
                <li><a href="#">i_am_lonkidely</a></li>
            </ol>
        </div>
    </div>
</div>
